.about
  padding 93px 28px 80px
  background-image url('../images/bg-curve-mobile.svg'), linear-gradient(to bottom, color-basic-white 4%, color-basic-blue 0)
  background-repeat no-repeat
  background-position center top
  background-size 100% 4.1%, cover

  &__container
    max-width 1280px
    margin 0 auto
    padding-top 328px
    background-image url('../images/illustration-2.svg')
    background-repeat no-repeat
    background-position center top
    background-size 320px auto

  &__lead
    margin 0 0 24px
    font-family font-fancy
    font-weight 700
    font-size 16px

  &__text
    margin 0 0 16px
    color color-primary-pale-light

    &:last-of-type
      margin-bottom 36px

  &__link
    display inline-flex
    flex-wrap nowrap
    align-items center
    margin-bottom 40px
    padding-bottom 4px
    font-size 12px
    line-height 1.4
    text-decoration none
    color color-success
    border-bottom 1px solid currentColor

    &:hover,
    &:focus
      color color-success-pale

  &__link-icon
    margin-top 2px
    margin-left 5px
    fill currentColor

  &__testimonial
    margin 0 auto

@media (min-width: 1200px)
  .about
    padding 178px 80px 106px
    background-image url('../images/bg-curve-desktop.svg'), linear-gradient(to bottom, color-basic-white 17%, color-basic-blue 0)
    background-size 100% 17.1%, cover

    &__container
      padding-top 0
      background-position-x right
      background-size calc(100% - 648px - 90px) auto

    &__lead
      margin-bottom 38px
      font-size 40px
      line-height 1.2

    &__text
      max-width 610px
      font-size 16px

      &:last-of-type
        margin-bottom 16px

    &__link
      margin-bottom 45px

    &__testimonial
      margin-left 0
