.footer
  padding 65px 40px 42px
  text-align left
  color color-basic-white
  background-color color-primary-dark

  &__container
    display grid
    gap 32px
    max-width 1280px
    margin 0 auto

  &__link
    display block
    width 105px
    height 30px
    color inherit

  &__logo
    display block
    width 100%
    height auto
    fill currentColor

@media (min-width: 1200px)
  .footer
    padding 92px 80px 88px

    &__container
      grid-template-columns 260px 1fr 260px
      gap 36px 185px
      align-items start

    &__link
      grid-column 1 / 4
      width 135px
      height 40px
