.social
  display grid
  grid-template-columns repeat(3, 28px)
  gap 10px
  margin 0 auto
  padding 0
  list-style none

  &__item
    min-height 28px

  &__link
    display flex
    flex-wrap nowrap
    justify-content center
    align-items center
    width 100%
    height 100%
    color color-basic-white
    border 1px solid currentColor
    border-radius 50%

    &:hover,
    &:focus
      color color-accent-pale

  &__icon
    fill currentColor

@media (min-width: 1200px)
  .social
    margin-left 0
