font-basic = 'Open Sans', sans-serif
font-fancy = 'Raleway', sans-serif

color-primary-dark = #07043b
color-primary-pale = #575988

color-accent-bright = #2f65f8
color-accent-pale = #6c9bff

color-success = #3da08f
color-success-pale = #71dfcc
color-error = #ef4877

color-basic-white = #ffffff
color-basic-blue =  #f8f8fe
color-basic-grey = #c0c0c0
color-basic-black = #07043b
